

:root {
    --base-font-color: rgb(131,148,150);
    --secondary-font-color: rgb(88,110,117);
    --emphasised-font: rgb(147,161,161);

    --c-background-color: rgb(0, 43, 54);
    --c-background-highlights: rgb(7, 54, 66);

    --c-yellow: rgb(181,137,  0);
    --c-orange: rgb(203, 75, 22);
    --c-red: rgb(220, 50, 47);
    --c-magenta: rgb(211, 54,130);
    --c-violet: rgb(108,113,196);
    --c-blue: rgb(38,139,210);
    --c-cyan: rgb(42,161,152);
    --c-green: rgb(133,153,0);
}

body {
    background-color: var(--c-background-color);
    max-width: 800px;
}

header {
    background-color: var(--c-background-highlights);
}

header, main, footer {
    color: var(--base-font-color);
}

article a {
    color: var(--c-magenta)
}

article a:hover {
    color: var(--c-orange);
}

article section {
    border: 3px solid var(--c-cyan);
    padding: 1em;
    margin: 0.5em;
}

header h1 {
    text-align: center;
    font-size: 150%;
    color: var(--c-yellow);
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

aside {
    color: var(--c-green);
}

aside a {
    color: var(--c-red);
}

aside a:hover {
    color: var(--c-blue);
}

article h2, article h3 {
    padding-top: 50px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

article {
    grid-column: 1;
}